<noscript>
  <div class="entry-content" id="entry-content-nojs" itemprop="description">
    <h2>JavaScript is disabled! Why you want to do so?</h2>

    <p>
      Please enable JavaScript in your web browser!
      You can find instructions at the
      <a href="https://www.whatismybrowser.com/is-javascript-enabled">
        https://www.whatismybrowser.com/is-javascript-enabled
      </a>
      site.
    </p>

    <style type="text/css">
      #entry-content-main {
        display: none;
      }
    </style>
  </div>
</noscript>
