---
layout: page
permalink: /archives/index.html
title: Archives
description: "An archive of posts sorted by date."
---

<div class="archives">
    {% for month in page.months %}
    <h2>{{ month | date:"%B" }} <small>{{ month | date:"%Y" }}</small></h2>
    <ul>
        {% for post in page.posts_by_month[month] %}
        <li><article>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title | truncate:65 }}</a>
        </article></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
